@model IEnumerable<Admin.Models.Shopping.OrderViewModel>
@{
    ViewData["Title"] = "Sifarişlər";
}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Sifarişlər</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Adı</th>
                            <th>Elektron Ünvanı</th>
                            <th>Ödədiyi pul</th>
                            <th>Ünvanı</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Adı</th>
                            <th>Elektron Ünvanı</th>
                            <th>Ödədiyi pul</th>
                            <th>Ünvanı</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>

                            <td>@item.shipToAddress.FirstName</td>
                            <td>
                                @item.BuyerEmail
                            </td>
                            <td>
                                @item.Subtotal
                            </td>
                            <td>
                                @item.shipToAddress.Street
                            </td>
                            <td class="d-flex justify-content-center">
                                <a class="btn btn-danger btn-circle btn-sm ml-2 deleteitem" asp-action="delete" asp-route-id="@item.Id">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
